:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body,
html {
  height: 100%;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: none;

  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgb(8, 163, 166) 0%,
    rgba(79, 166, 167, 0.849) 8%,
    rgba(61, 79, 94, 0.885) 40%,
    rgb(17, 19, 23)
  );
}

article {
  background: #00000077;
  padding: 25vh 0;
  position: relative;
  width: 30ch;
  z-index: 1;

  > section {
    margin: 0 1rem;

    & + & {
      margin-top: 100vh;
    }
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  background-color: #00000066;
  box-shadow: 0 0 1rem #00ffb2aa inset;
  border-radius: 0.5rem 0 0 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  line-height: 1.5;
  padding: 0.25rem 0;
  position: fixed;
  right: 0;
  top: 2rem;
  z-index: 1;

  a {
    background-color: transparent;
    color: oklab(73.898% 0.02997 -0.13552);
    outline: none;
    padding: 0.25rem 1.75rem;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0006;
    }
    &:focus, &:focus-visible {
      background-color: #0009;
      outline-color: #fff3;
    }
    &:target {
      color: #00ffb2aa;
    }
  }
}

.lil-gui.lil-root { right: 450px; }
